:root {
    margin: 0.5vw 5vw;
  }

* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

.haut-de-page {
    height: 100px;
    display:flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
   /* align-items: center; */
}
/*.haut-de-page nom-logo {
    align-self: flex-start;
}

.haut-de-page menu {
    align-self: flex-end;
} */
.nom-logo{
    display:flex;
    text-align: left;
    padding: 1%; 
    width: 300px;
    max-width: 300px;
    align-items: baseline;

}
.nom{
    font-size: 125%;
    width: 125px;
}

.nom-logo a {
    color:black;
    text-decoration: none;
    max-width: 300px;
}

.nom-logo h {
    padding-left: 25px;
}
.menu {

    display: flex;
    flex-direction: row-reverse;
    float: left;
    border-bottom: 1px solid hotpink;
}

.menu ul {

}
.menu li {
    float: right;
    width: 100px;
    max-width: 100px;
    padding: 10px; 
    border: thin solid green;
    text-align: left;
}

.menu a {
    color: hotpink;
    text-align: center;
    text-decoration: none;


}
a:hover{
    text-shadow: 2px 2px 4px green;

}

a:hover::after{
    content:"./";
    text-shadow: 2px 2px 4px green;

}

.corps{
    overflow-y:hidden;
}
.corps p {
    max-width:600px;
    border: hidden;
    margin:10% 10% 20% 5%;
}

.footer {
    position: fixed;
    bottom: 0; 
    width: 80vw;
    right: 10vw;
    /* Set the fixed height of the footer here */
    height: 60px;
    margin-top: 100px;
    padding-top: 10px;
    border-top: 1px solid black;
/*
    clear: both;
    margin-top: 100px;
    padding-top: 10px;
    border-top: 1px solid black;
    bottom:10px;
    align-items: baseline;
   
    
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
    display:flex;
    flex-direction: row;
    */
}