:root {
    margin: 0.5vw 5vw;
  }

* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

div {
    display: block;
}

a {
    text-decoration: none;
    color:hotpink;
}

.haut-de-page {
    height: 100px;
    display:flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
   /* align-items: center; */
}
/*.haut-de-page nom-logo {
    align-self: flex-start;
}

.haut-de-page menu {
    align-self: flex-end;
} */
.nom-logo{
    display:flex;
    text-align: left;
    padding: 1%; 
    width: 300px;
    max-width: 300px;
    align-items: baseline;

}
.nom{
    font-size: 125%;
    width: 125px;
}

.nom-logo a {
    color:black;
    text-decoration: none;
    max-width: 300px;
}

.nom-logo h {
    padding-left: 25px;
}
.menu {

    display: flex;
    flex-direction: row-reverse;
    float: left;
    border-bottom: 1px solid hotpink;
}

.menu ul {

}
.menu li {
    float: right;
    width: 100px;
    max-width: 100px;
    padding: 10px; 
    border: thin solid green;
    text-align: left;
}

.menu a {
    color: hotpink;
    text-align: center;
    text-decoration: none;


}
a:hover{
    text-shadow: 2px 2px 4px rgb(140, 255, 138);

}

a:hover::after{
    content:"./";
    text-shadow: 2px 2px 4px rgb(140, 255, 138);;

}
.corps{
    display: flex;
    flex-direction: column;
}

.corps h2{
    display: block;
    max-width: fit-content;
    margin-left: 6vw;
    font-style: italic;
    background-color: rgb(140, 255, 138);

}
.texte p {
    max-width:30vw;
    text-align: justify;
    border: hidden;
    margin:5% 10% 20% 9vw;
}
.postlist{
    display: block;

}
.post{
    display: block;
    margin-left:6vw;
    max-width: 60vw;
    margin-bottom: 30vw;
    clear: right;
}

.post img{
    display: block;
    max-width: 35vw;
    float: right;
}
.titre{
    display: block;
    margin-left:inherit;
    text-align: right;
}

.footer {
    position: fixed;
    bottom: 0; 
    width: 80vw;
    right: 10vw;
    /* Set the fixed height of the footer here */
    height: 60px;
    margin-top: 100px;
    padding-top: 10px;
    border-top: 1px solid black;
    background-color: white;

/*
    clear: both;
    margin-top: 100px;
    padding-top: 10px;
    border-top: 1px solid black;
    bottom:10px;
    align-items: baseline;
   
    
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
    display:flex;
    flex-direction: row;
    */
}